<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="Header">
        <property name="header" value="////////////////////////////////////////////////////////////////////\n// Marco Ferrati 1168234\n////////////////////////////////////////////////////////////////////" />
    </module>
    <module name="FileLength"/>
    <module name="TreeWalker">
        <module name="LineLength"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="CyclomaticComplexity"/>
    </module>
</module>
